{% extends 'base.html' %}


{% block title %}Porfólio de Produtos{% endblock title %}

{% block content %}

<br>
<div class="container">
    <br>
    <h1 class="text-center mt-4 mb-3">Portfólio de Produtos</h1>
    <br>
    {% for produto in produtos %}
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ produto.foto.url }}" alt="{{ produto.titulo }}"></a>
                <div class="card-body text-center">
                    <h5 class="card-title">
                        <strong>
                            {{ produto.titulo }}
                        </strong>
                    </h5>
                    <p class="card-title">{{ produto.descricao }}</p>

                    <h6 class="card-subtitle mb-4 text-muted">{{ produto.preco }}</h6>
                    <!--<a href="#" class="btn btn-primary">Detalhe</a>-->
                    <a href="{{ product.get_absolute_url }}" class="btn btn-success" role="button">Detalhes</a>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock content %}
