{% extends 'base.html' %}
{% block title %}Form de Produto{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4 mb-3">Insira novo Produto</h1>

                {{ form.errors }}

                <form method="post" action="{% url 'produtos:create' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="tituloInput">
                            {{ form.titulo.label }}
                        </label>
                        <input type="text" name="titulo"
                               class="form-control{% if form.titulo.errors %} is-invalid{% endif %}"
                               id="tituloInput"
                               value="{{ form.titulo.value }}"/>
                        <div class="invalid-feedback">
                            {{ form.titulo.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="precoInput">
                            {{ form.preco.label }}
                        </label>
                        <input type="number" name="preco"
                               class="form-control{% if form.preco.errors %} is-invalid{% endif %}"
                               id="precoInput"
                               min="0.01"
                               step="0.01" value="{{ form.preco.value }}"/>
                        <div class="invalid-feedback">
                            {{ form.preco.errors }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="descricaoInput">
                            {{ form.descricao.label }}
                        </label>
                        <textarea name="descricao" id="descricaoInput"
                                  class="form-control{% if form.descricao.errors %} is-invalid{% endif %}">{{ form.descricao.value }}</textarea>
                        <div class="invalid-feedback">
                            {{ form.descricao.errors }}
                        </div>
                    </div>

                    {{ form.foto }}
                    <button type="submit" class="btn btn-primary">Salvar</button>


                </form>


            </div>
        </div>
    </div>
{% endblock content %}