{% extends 'base.html' %}

{% load static %}

{% block content %}

{# Page Content #}
<div class="container">

  {# Page Heading/Breadcrumbs #}
  <br><br>
  <h1 class="mt-4 mb-3">Contato</h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Contato</li>
  </ol>

  {# Content Row #}
  <div class="row">
    {# Map Column #}
    <div class="col-lg-8 mb-4">
      {# Embedded Google Map #}

      <iframe width="100%" height="400px" id="gmap_canvas" src="https://maps.google.com/maps?q=rua%20jatauba%20161&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

    </div>
    {# Contact Details Column #}
    <div class="col-lg-4 mb-4">
      <h3>Detalhes do Contato</h3>
      <p>
        Rua Jataúba 161
        <br>Recife, PE
        <br>
      </p>
      <p>
        <abbr title="Phone">Fone</abbr>: (81) 9 8888-8888
      </p>
      <p>
        <abbr title="Email">Email</abbr>:
        <a href="mailto:name@example.com">name@example.com
        </a>
      </p>
      <p>
        <abbr title="Hours">Hora</abbr>: Segunda - Sexta: 9:00 às 17:00
      </p>
    </div>
  </div>
  {# /.row #}

  {# Contact Form #}
  {# In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. #}
  <div class="row">
    <div class="col-lg-8 mb-4">
      <h3>Envie-nos uma mensagem</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="control-group form-group">
          <div class="controls">
            <label>Nome completo:</label>
            <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
            <p class="help-block"></p>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Número de telefone:</label>
            <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Email:</label>
            <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Mensagem:</label>
            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
          </div>
        </div>
        <div id="success"></div>
        {# For success/fail messages #}
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar mensagem</button>
      </form>
    </div>

  </div>
  {# /.row #}

</div>
{# container #}
{% endblock content %}