{% extends 'base.html' %}

{% block content %}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>REGISTRAR</h2>
                <div class="page_link">
                    <a href="{% url 'base:home' %}">Home</a>
                    <a href="{% url 'base:registro' %}">REGISTRAR</a>
                </div>

            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<br><br><br><br>
<div class="container">

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
      <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>
<br><br><br><br>
{% endblock content %}


