{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="container">
    <h1 class="mt-4 mb-3">Registrar</h1>
    <ol class="breadcrumb">
       <li class="breadcrumb-item">
         <a href="/">Home</a>
       </li>
       <li class="breadcrumb-item active">Registrar</li>
    </ol>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
      <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>
<br>
{% endblock content %}


