{% extends "base.html" %}

{% block title %}
Finalização da Compra
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'base:home' %}">Início</a></li>
  <li><a href="{% url 'checkout:cart_item' %}">Carrinho de Compras</a></li>
  <li class="active">Finalização da Compra</li>
</ol>
<div class="page-header">
    <h1>Escolha forma de pagamento</h1>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-success">
            Seu pedido foi realizado com sucesso, para realizar o pagamento faça o depósito na seguinte conta:
        </div>


        <div class="col-md-8 col-md-offset-2">
            <h2>Conta Bancária Fake</h2>
            <ul class="list-group">
                <li class="list-group-item">Conta Corrente: 1272717-8</li>
                <li class="list-group-item">Agência: 0651</li>
                <li class="list-group-item">Banco: Bradesco</li>
                <li class="list-group-item">Cidade: Recife</li>
                <li class="list-group-item">Estado: PE</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}