{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}PartyouDesafio{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'base:home' %}">PartyouDesafio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'produtos:product_list' %}">Produtos</a>
            </li>
            <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="{% url 'produtos:product_list' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Categorias-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                    <!--{% for category in categories %}-->
				        <!--<li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>-->
                    <!--{% endfor %}-->
                    <!--&lt;!&ndash;<a class="dropdown-item" href="#">Another action</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="dropdown-divider"></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;-->
                <!--</div>-->
             <!--</li>-->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'base:contato' %}">Contato</a>
            </li>
          </ul>
           <ul class="navbar-nav ml-auto">
               <li class="nav-item">
            {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout' %}">Sair</a>
               </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'base:registro' %}">Registrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Entrar</a>
            {% endif %}
               </li>
            </ul>
        </div>
      </div>
    </nav>

<body>

{% block content %}{% endblock content %}

<br><br><br><br>

{# Footer #}

    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">{% now  'Y' %} - PartyouDesafio - Todos direitos reservados.</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>

</html>